*.o
bin/
core

Samples/UnifiedMemoryPerf/UnifiedMemoryPerf
Samples/conjugateGradientCudaGraphs/conjugateGradientCudaGraphs
Samples/conjugateGradientMultiBlockCG/conjugateGradientMultiBlockCG
Samples/conjugateGradientMultiDeviceCG/conjugateGradientMultiDeviceCG
Samples/cudaTensorCoreGemm/cudaTensorCoreGemm
Samples/deviceQuery/deviceQuery
Samples/matrixMul/matrixMul
Samples/matrixMulDrv/data/
Samples/matrixMulDrv/matrixMulDrv
Samples/matrixMulDrv/matrixMul_kernel64.ptx
Samples/multi_context_interop/
Samples/p2pBandwidthLatencyTest/p2pBandwidthLatencyTest
Samples/shfl_scan/shfl_scan
Samples/simpleCUBLAS/simpleCUBLAS
Samples/simpleCUBLASXT/simpleCUBLASXT
Samples/simpleCUFFT/simpleCUFFT
Samples/simpleCudaGraphs/simpleCudaGraphs
Samples/simpleVoteIntrinsics/simpleVoteIntrinsics
Samples/systemWideAtomics/systemWideAtomics
Samples/vectorAdd_nvrtc/vectorAdd_nvrtc
Samples/warpAggregatedAtomicsCG/warpAggregatedAtomicsCG